<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrame Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <form action="/generate_data" method="POST">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date" value="2000-01-01" required>
        
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end-date" value="2023-06-13" required>
        
        <label for="period">Period:</label>
        <select id="period" name="period">
            <option value="1Y" selected>1 Year</option>
            <option value="6M">6 Months</option>
            <option value="3M">3 Months</option>
        </select>
        
        <input type="submit" value="Generate">
    </form>
    
    <h2>DataFrame Display</h2>
    <div>
        {{ df | safe }}
    </div>
</body>
</html>
